<table class="w-full">
  <tr>
    <td class="w-[600px] sm:w-full bg-white max-w-[600px] p-[20px]">
      <table>
        <tr>
          <td class="w-[110px]">
            <a href="#" target="_blank">
            <img src="image-2.png" width="140" alt="top_logo">
            </a>
          </td>
          <td>
            <p class="text-[#002B2B] font-['Arial'] sm:pt-[0px] font-[400] text-[12px] leading-[14px] pl-[10px]">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
